[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "themes/whiteplain-light"]
	path = themes/whiteplain-light
	url = https://github.com/taikii/whiteplain-light.git
