body {
  width: 50%;
  min-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.0em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video, figure { 
  max-width: 100%; 
  text-align: center;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

a:link {
  color:#000000;
}
a:visited {
  color:#000000;
}

.toc {
  border: 1px solid #eee;
  border-radius: 5px;
}
.toc ul {
  list-style-type: none;
  padding: 0;
  padding-left: 12px;
  margin: 0;
 }
.toc nav > ul {
  padding-left: 12px;
 }

li.post-list a { text-decoration: none; }
ul.post-list { list-style-type: none; }
.categories {
  display: inline-block;
  width: 5.0em;
}


